h1{
    text-align: center;
}

main#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: bisque;
        
}

form label,
form input{
    padding:10px;
}

#submit-answer{
    flex-direction: column;

}

div#image-container{
    width: 70%;
    height:50%;
    align-items:center;
    margin: auto;
    justify-content: center;
    padding:10px;
}
img{
    width:70%;
    height:50%
}